@using ShopWatch.WebMvc.ViewModels
@model OrderViewModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .titlebold {
        font-weight: bold;
    }
</style>

<h3>Vui lòng nhập thông tin vận chuyển</h3>
<hr />
<p style="color:red">@ViewBag.MessageUi</p>
<form class="row form-horizontal" action="/Order/Checkout" method="post" role="form">
    <div class="col-md-6 mb-3">
        <div class="form-group">
            <label for="address" class="titlebold">Họ tên:</label>
            <input type="text" class="form-control" name="Username" id="Username" placeholder="Họ và tên">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <div class="titlebold">Địa chỉ:</div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="titlebold" style="height:7px;">Tỉnh/Thành phố</p>
                    <select id="countrySelect" size="1" onchange="makeSubmenu(this.value)" value="@Model.ShipAddresss" style="width:100%; margin-bottom:5px;">
                        <option value="hanoi">Hà Nội</option>
                        <option value="thanhhoa">Thanh Hóa</option>
                        <option value="hanam">Hà Nam</option>
                        <option value="saigon">Sài Gòn</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <p class="titlebold" style="height:7px;">Quận/Huyện</p>
                    <select id="citySelect" size="1"  style="width:100%; margin-bottom:5px;">
                        <option value="hanoi">Hà Nội</option>
                        <option value="thanhhoa">Thanh Hóa</option>
                        <option value="hanam">Hà Nam</option>
                        <option value="saigon">Sài Gòn</option>
                    </select>
                </div>
            </div>
            <input type="text" class="form-control" name="ShipAddress" id="ShipAddress" placeholder="địa chỉ chi tiết" value="@Model.ShipAddress" required>
            <span class="text-danger" asp-validation-for="ShipAddress"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label asp-for="PhoneNumber" class="titlebold">Số điện thoại:</label>
                <input name="PhoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="Số điện thoại" value="@Model.PhoneNumber" required>
            </div>
            <div class="col-sm-6">
                <label asp-for="Email" class="titlebold">Email:</label>
                <input name="Email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <button class="btn btn-primary" type="submit">Mua hàng</button>
            <a class="btn btn-primary" href="/ShoppingCart/Index">Thoát</a>
            <a class="btn btn-primary" href="/Home/Index">Tiếp tục mua hàng</a>
        </div>
    </div>

    @*<div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Địa chỉ nhận hàng trùng với địa chỉ trên hóa đơn</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save info for next order</label>
        </div>*@
</form>
<script>
    window.onload = resetSelection();
    var citiesByState = {
        hanoi: ["Bhubaneswar", "Puri", "Cuttack"],
        hanam: ["Mumbai", "Pune", "Nagpur"],
        Kerala: ["kochi", "Kanpur"]
    }
    function makeSubmenu(value) {
        console.log(value)
        if (value.length == 0) document.getElementById("citySelect").innerHTML = "<option></option>";
        else {
            var citiesOptions = "";
            for (cityId in citiesByState[value]) {
                citiesOptions += "<option>" + citiesByState[value][cityId] + "</option>";
            }
            document.getElementById("citySelect").innerHTML = citiesOptions;
        }
    }
    function displaySelected() {
        var country = document.getElementById("countrySelect").value;
        var city = document.getElementById("citySelect").value;
        alert(country + "\n" + city);
    }
    function resetSelection() {
        document.getElementById("countrySelect").selectedIndex = 0;
        document.getElementById("citySelect").selectedIndex = 0;
    }
</script>