@using ShopWatch.Model
@using System.Globalization
@model Watch
@{
    var promotion = Model.Promotions.FirstOrDefault(item => (item.StartDate <= DateTime.Now && DateTime.Now <= item.EndDate));
}
<div class="col-md-3" style="margin-top: 50px">
    <img class="img-fluid img-thumbnail" style="height:80%;width:100%" src="~/Assets/images/HINHLON/@Model.ImageUrl" />
    <p>
        <a href="/Watch/Details/@Model.WatchId">@Model.WatchName</a>
    </p>

    @if (promotion != null)
    {
        <p style="height:10px; line-height:10px">
            <span class="text-danger">@promotion.PromotionName</span>
        </p>

    }
    <div class="input-group mb-3">
        <p class="form-control">@Model.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</p>
        <div class="input-group-append">
            <a class="btn btn-outline-primary" href="/Watch/ListByPublisher?publisher=@Model.Publisher.PublisherName">@Model.Publisher.PublisherName</a>
        </div>
    </div>
</div>
