
@using EF6.EF.Comment;
@model PaginatedList<Comment>;

<div class="card-evaluate">
    <div><h3>Đánh giá</h3></div>
    <div class="card-content">

        <div class="comment">
            <div class="comment-top">
                <p class="comment-name">Trần Duyên</p>
                <p><i class="comment-icon-bought fas fa-check-circle"></i>Đã mua tại DMX</p>
            </div>
            <div class="comment-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div comment-rate>
                <p>Iphone 12 Pro Max của mình không tắt được tính năng chờ cuộc gọi, liên hệ Viettel mấy ngày rồi vẫn chưa hỗ trợ được. Phần mềm đang ở 14.5.1 (là mới nhất), đang dùng esim Viettel; Không biết thegioididong có thủ thuật gì không giúp mình với? Hiện tại rất bất tiện vì đang thực hiện cuộc gọi khác mà vẫn kết nối cuộc gọi khác nên bị ý kiến là thường xuyên không nghe điện thoại vì vẫn</p>
            </div>
        </div>
        <div class="comment">
            <div class="comment-top">
                <p class="comment-name">Hồ Đức thắng</p>
                <p><i class="fas fa-check-circle"></i>Đã mua tại DMX</p>
            </div>
            <div class="comment-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div comment-rate>
                <p>Iphone 12 Pro Max của mình không tắt được tính năng chờ cuộc gọi</p>
            </div>
        </div>
        <div class="comment">
            <div class="comment-top">
                <p class="comment-name">Văn Hảo</p>
                <p><i></i>Đã mua tại DMX</p>
            </div>
            <div class="comment-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div comment-rate>
                <p>Iphone 12 Pro Max của mình không tắt được tính năng chờ cuộc gọi, liên hệ Viettel mấy ngày rồi vẫn chưa hỗ trợ được. Phần mềm đang ở 14.5.1 (là mới nhất), đang dùng esim Viettel; Không biết thegioididong có thủ thuật gì không giúp mình với? Hiện tại rất bất tiện vì đang thực hiện cuộc gọi khác mà vẫn kết nối cuộc gọi khác nên bị ý kiến là thường xuyên không nghe điện thoại vì vẫn</p>
            </div>
        </div>
        <div class="comment">
            <div class="comment-top">
                <p class="comment-name">Vi Hùng</p>
                <p><i></i>Đã mua tại DMX</p>
            </div>
            <div class="comment-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div comment-rate>
                <p>Iphone 12 Pro Max của mình không tắt được tính năng chờ cuộc gọi, liên hệ Viettel mấy ngày rồi vẫn chưa hỗ trợ được. Phần mềm đang ở 14.5.1 (là mới nhất), đang dùng esim Viettel; Không biết thegioididong có thủ thuật gì không giúp mình với? Hiện tại rất bất tiện vì đang thực hiện cuộc gọi khác mà vẫn kết nối cuộc gọi khác nên bị ý kiến là thường xuyên không nghe điện thoại vì vẫn</p>
            </div>
        </div>


    </div>
    <div class="d-flex">
        <input class="form-control  mr-3">
        <button class="addtocart btn btn-outline-primary mr-3">Gửi</button>
    </div>

</div>
